# 对 Xcode 导出的 `.xcloc` 文件进行国际化的工具

## 项目描述

这是一个 SwiftUI 项目，使用 Swift 语言编写

## 项目功能

对 Xcode 到处的 xcloc 国际化文件进行编辑、翻译等等

## 代码规范

1. 代码目录是 XcodeInternationalization，所有生成的代码都需要在这个目录下面

## 第三方库

- SwiftUIX 0.2.3

优先使用第三方库的代码功能而不是自己实现

