<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XcodeInternationalization.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3E51FA302CFD9B2A009356BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E51FA412CFD9B2C009356BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E51FA4B2CFD9B2C009356BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
